patrick-proposal/xsd/registry-0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns:registry="urn:ietf:params:xml:ns:registry-0.2"
  xmlns:epp="urn:ietf:params:xml:ns:epp-1.0"
  xmlns:eppcom="urn:ietf:params:xml:ns:eppcom-1.0"
  xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:ietf:params:xml:ns:registry-0.2"
  elementFormDefault="qualified"
>
  <!--
    Import common element types.
  -->
  <import namespace="urn:ietf:params:xml:ns:eppcom-1.0"/>
  <import namespace="urn:ietf:params:xml:ns:epp-1.0"/>

  <annotation>
    <documentation>
      Extensible Provisioning Protocol v1.0
      Registry
      Mapping Schema.
    </documentation>
  </annotation>
  <!--
    Child elements found in EPP commands.
  -->
  <element
    name="check"
    type="registry:mNameType"/>
  <element
    name="create"
    type="registry:createType"/>
  <element
    name="delete"
    type="registry:sNameType"/>
  <element
    name="info"
    type="registry:infoType"/>
  <element
    name="update"
    type="registry:updateType"/>
  <!--
    Child elements of the <check> command.
  -->
  <complexType name="mNameType">
    <sequence>
      <element
        name="name"
        type="registry:zoneNameType"
        maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <!--
    Child elements of the <delete> command.
  -->
  <complexType name="sNameType">
    <sequence>
      <element
        name="name"
        type="registry:zoneNameType"/>
    </sequence>
  </complexType>
  <!--
    Child elements of the <create> command.
  -->
  <complexType name="createType">
    <sequence>
      <element
        name="zone"
        type="registry:zoneType"/>
    </sequence>
  </complexType>
  <complexType name="updateType">
    <sequence>
      <element
        name="zone"
        type="registry:zoneType"/>
    </sequence>
  </complexType>
  <!--
    Child elements of the <info> command.
  -->
  <complexType name="infoType">
    <sequence>
      <choice>
        <element name="all">
          <complexType/>
        </element>
        <element
          name="name"
          type="registry:zoneNameType"/>
        <element name="system">
          <complexType/>
        </element>
      </choice>
    </sequence>
  </complexType>

  <!--
    Child response elements.
  -->
  <element
    name="chkData"
    type="registry:chkDataType"/>
  <element
    name="creData"
    type="registry:creDataType"/>
  <element
    name="infData"
    type="registry:infDataType"/>

  <!--
    <create> response elements.
  -->
  <complexType name="creDataType">
    <sequence>
      <element
        name="name"
        type="registry:zoneNameType"/>
      <element
        name="crDate"
        type="dateTime"/>
    </sequence>
  </complexType>
  <!--
    <check> response elements.
  -->
  <complexType name="chkDataType">
    <sequence>
      <element
        name="cd"
        type="registry:checkType"
        maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="checkType">
    <sequence>
      <element
        name="name"
        type="registry:checkNameType"/>
      <element
        name="reason"
        type="eppcom:reasonType"
        minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="checkNameType">
    <simpleContent>
      <extension base="registry:zoneNameType">
        <attribute
          name="avail"
          type="boolean"
          use="required"/>
      </extension>
    </simpleContent>
  </complexType>
  <!--
    <info> response elements.
  -->
  <complexType name="infDataType">
    <choice>
      <element
        name="zoneList"
        type="registry:zoneListType"/>
      <element
        name="zone"
        type="registry:zoneType"/>
      <element
        name="system"
        type="registry:systemType"/>
    </choice>
  </complexType>
  <complexType name="zoneListType">
    <sequence>
      <element
        name="zone"
        type="registry:zoneSummaryType"
        minOccurs="0"
        maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="zoneSummaryType">
    <sequence>
      <element
        name="name"
        type="registry:zoneNameType"/>
      <element
        name="crDate"
        type="dateTime"/>
      <element
        name="upDate"
        type="dateTime"
        minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="zoneType">
    <sequence>
      <element
        name="name"
        type="registry:zoneNameType"/>
      <element
        name="group"
        type="token"
        minOccurs="0"/>
      <element
        name="services"
        type="registry:servicesType"
        minOccurs="0"/>
      <element
        name="crID"
        type="eppcom:clIDType"
        minOccurs="0"/>
      <element
        name="crDate"
        type="dateTime"
        minOccurs="0"/>
      <element
        name="upID"
        type="eppcom:clIDType"
        minOccurs="0"/>
      <element
        name="upDate"
        type="dateTime"
        minOccurs="0"/>
      <element
        name="batch"
        type="registry:batchType"
        minOccurs="0"/>
      <element
        name="system"
        type="registry:zoneSystemType"
        minOccurs="0"/>
      <element name="policies" type="registry:zonePoliciesType"/>
    </sequence>
  </complexType>
  
  <complexType name="zonePoliciesType">
  	<sequence maxOccurs="unbounded">
      <element ref="registry:policy"/>  		
  	</sequence>
  </complexType>
  
  <element name="policy" type="registry:policyType" abstract="true"/>
  <complexType name="policyType">
     <complexContent>
        <restriction base="anyType"/>
     </complexContent>
  </complexType>
  
  <complexType name="fieldsType">
    <sequence>
      <element
        name="field"
        type="token"
        maxOccurs="unbounded"/>
    </sequence>
    <attribute
      name="type"
      use="required"
    >
      <simpleType>
        <restriction base="token">
          <enumeration value="shared"/>
          <enumeration value="sync"/>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <complexType name="servicesType">
    <sequence>
      <element
        name="objURI"
        type="registry:uriType"
        maxOccurs="unbounded"/>
      <element
        name="svcExtension"
        type="registry:svcExtensionType"
        minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="svcExtensionType">
    <sequence>
      <element
        name="extURI"
        type="registry:uriType"
        minOccurs="0"
        maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="uriType">
    <simpleContent>
      <extension base="anyURI">
        <attribute
          name="required"
          type="boolean"
          use="required"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="reservedNamesType">
    <choice>
      <element
        name="reservedName"
        type="normalizedString"
        minOccurs="0"
        maxOccurs="unbounded"/>
      <element
        name="reservedNameURI"
        type="anyURI"
        minOccurs="0"/>
    </choice>
  </complexType>
  
  <complexType name="regexType">
    <sequence>
      <element
        name="expression"
        type="string"/>
      <element
        name="description"
        minOccurs="0"
      >
        <complexType>
          <simpleContent>
            <extension base="normalizedString">
              <attribute
                name="lang"
                type="language"
                default="en"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <simpleType name="zoneFormType">
    <restriction base="token">
      <enumeration value="aLabel"/>
      <enumeration value="uLabel"/>
    </restriction>
  </simpleType>
  <complexType name="zoneNameType">
    <simpleContent>
      <extension base="eppcom:labelType">
        <attribute
          name="form"
          type="registry:zoneFormType"
          default="aLabel"/>
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="variantStrategyType">
    <restriction base="token">
      <enumeration value="blocked"/>
      <enumeration value="restricted"/>
      <enumeration value="open"/>
    </restriction>
  </simpleType>
  <complexType name="languageType">
    <sequence>
      <element
        name="table"
        type="anyURI"
        minOccurs="0"/>
      <element
        name="variantStrategy"
        type="registry:variantStrategyType"
        minOccurs="0"/>
    </sequence>
    <attribute
      name="code"
      type="language"
      use="required"/>
  </complexType>
  <complexType name="minMaxType">
    <sequence>
      <element
        name="min"
        type="unsignedShort"/>
      <element
        name="max"
        type="unsignedShort"
        minOccurs="0"/>
    </sequence>
  </complexType>
  <complexType name="minMaxPeriod">
    <sequence>
      <element
        name="min"
        type="registry:periodType"/>
      <element
        name="max"
        type="registry:periodType"/>
      <element
        name="default"
        type="registry:periodType"/>
    </sequence>
  </complexType>
  <complexType name="gPeriodType">
    <simpleContent>
      <extension base="registry:periodType">
        <attribute
          name="command"
          type="token"
          use="required"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="periodType">
    <simpleContent>
      <extension base="unsignedShort">
        <attribute
          name="unit"
          type="registry:pUnitType"
          use="required"/>
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="pUnitType">
    <restriction base="token">
      <enumeration value="y"/>
      <enumeration value="m"/>
      <enumeration value="d"/>
      <enumeration value="h"/>
    </restriction>
  </simpleType>
  <complexType name="supportedStatusType">
    <sequence>
      <element
        name="status"
        type="token"
        minOccurs="1"
        maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <complexType name="scheduleType">
    <simpleContent>
      <extension base="token">
        <attribute
          name="tz"
          type="token"
          default="UTC"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="batchJobType">
    <sequence>
      <element
        name="name"
        type="token"/>
      <element
        name="description"
        type="token"
        minOccurs="0"/>
      <!-- UNIX crontab job schedule format -->
      <element
        name="schedule"
        type="registry:scheduleType"/>
    </sequence>
  </complexType>
  <!-- Information about the batch jobs -->
  <complexType name="batchType">
    <sequence>
      <element
        name="batchJob"
        type="registry:batchJobType"
        minOccurs="1"
        maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <!--
    Information the TLDs that makeup the system, which is associated
    with the "perSystem" sharePolicy.
  -->
  <complexType name="zoneSystemType">
    <sequence>
      <element
        name="zone"
        type="registry:zoneNameType"
        minOccurs="1"
        maxOccurs="unbounded"/>
    </sequence>
  </complexType>
  <simpleType name="expiryPolicyType">
    <restriction base="token">
      <enumeration value="autoRenew"/>
      <enumeration value="autoDelete"/>
      <enumeration value="autoExpire"/>
      <enumeration value="autoParked"/>
    </restriction>
  </simpleType>
  <complexType name="minMaxLength">
    <sequence>
      <element
        name="minLength"
        type="unsignedShort"/>
      <element
        name="maxLength"
        type="unsignedShort"/>
    </sequence>
  </complexType>
  <complexType name="streetType">
    <complexContent>
      <extension base="registry:minMaxLength">
        <sequence>
          <element
            name="minEntry"
            type="unsignedShort"/>
          <element
            name="maxEntry"
            type="unsignedShort"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="contactAddressType">
    <sequence>
      <element
        name="street"
        type="registry:streetType"/>
      <element
        name="city"
        type="registry:minMaxLength"/>
      <element
        name="sp"
        type="registry:minMaxLength"/>
      <element
        name="pc"
        type="registry:minMaxLength"/>
    </sequence>
  </complexType>
  <complexType name="transLimitType">
    <simpleContent>
      <extension base="int">
        <attribute
          name="perMs"
          type="int"
          use="required"/>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="systemType">
    <sequence>
      <element
        name="maxConnections"
        type="int"
        minOccurs="0"/>
      <element
        name="idleTimeout"
        type="int"
        minOccurs="0"/>
      <element
        name="absoluteTimeout"
        type="int"
        minOccurs="0"/>
      <element
        name="commandTimeout"
        type="int"
        minOccurs="0"/>
      <element
        name="transLimit"
        type="registry:transLimitType"
        minOccurs="0"/>
    </sequence>
  </complexType>
</schema>